@using Microsoft.AspNet.Identity
@using WebLife.Resources

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Res.Chat</h2>

@using (Html.BeginForm())
{
   
    <div class="container">
        <input type="text" id="message" />
        <input type="button" id="sendmessage" value="Send" />
        <input type="hidden" id="displayname" value="@User.Identity.GetUserName()"/>
        <ul id="discussion"></ul>
    </div>

}
@section scripts {
 
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/ChatScript.js"></script>
    

}
