<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web.webPages.razor>
    <pages>
      <namespaces>
        <add namespace="Postal" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="pavkalashnikov@gmail.com">
        <network defaultCredentials="false" enableSsl="true" host="in.mailjet.com" userName="717b4cc6418aeee2da68819b23e3bfac" password="9407ba6779b4c0e5960e6622ac2a60e1" port="465"/>  
      </smtp>
    </mailSettings>
  </system.net>
</configuration>