@using WebLife.Resources
@{
    ViewBag.Title = "Home Page";

}

<h1>@Res.Name</h1>
<link href="~/Content/Site.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<title>Conway's Game of Life</title>
<body>
    <div class="row" id="container">
        <div class="col" id="right-content">
            <h2>Controls</h2>
            <a class="btn btn-default btn-sm col-md-2" id="controlLink" href="javascript:void(0)">Start/Stop</a>
            <a class="btn btn-default btn-sm col-md-2" id="clearLink" href="javascript:void(0)">Clear Grid</a>
            <a class="btn btn-default btn-sm col-md-2" id="resizeUp" href="javascript:void(0)"> + </a>
            <a class="btn btn-default btn-sm col-md-2" id="resizeDown" href="javascript:void(0)"> - </a>
            <label>Min:</label>
            <select class="input-sm btn-default" id="minimumSelect">
                <option value="1">1</option>
                <option selected value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <label>Max:</label>
            <select class="input-sm  btn-default" id="maximumSelect">
                <option value="1">1</option>
                <option value="2">2</option>
                <option selected value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <label>Spawn:</label>
            <select class="input-sm  btn-default" id="spawnSelect">
                <option value="1">1</option>
                <option value="2">2</option>
                <option selected value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <a class="btn btn-default btn-sm col-md-2" id="save" href="javascript:void(0)">Save</a>
            
        </div>
        <div class="col" id="info">
            <h5>
                <label>Generation counter: <span id="counter">0</span></label>
                <label id="gridSize"></label>
            </h5>
        </div>
       
        <div id="left-content">
            
            <div id="myCanvas">
                <canvas id="grid" class="grid" width="512" height="512"></canvas>
            </div>
        </div>
    </div>
</body>

<script src="~/Scripts/ClientLife.js"></script>